/* APPLICATION */

.hello-btn{
    position: relative;
    transition: all 600ms;
}

/* During effect */

.helloBtn-effect{
    background: transparent;
    color: #F24C62;
}
.helloBtn-effect::before{
    content: "";
    width: 99%;
    height: 2px;
    background: #F24C62;
    position: absolute;
    top:100%;
    left: 0;
    animation: buttonDown 500ms;
    -o-animation: buttonDown 500ms;
    -moz-animation: buttonDown 500ms;
    -webkit-animation: buttonDown 500ms;
}
.helloBtn-effect::after{
    content: "";
    width: 99%;
    height: 2px;
    background: #F24C62;
    position: absolute;
    bottom:100%;
    left: 0;
    animation: buttonUp 500ms;
    -o-animation: buttonUp 500ms;
    -moz-animation: buttonUp 500ms;
    -webkit-animation: buttonUp 500ms;
}

/* End of effect */

.helloBtn-effectFinish::after{
    animation: buttonEffect-left 1s;
    -o-animation: buttonEffect-left 1s;
    -moz-animation: buttonEffect-left 1s;
    -webkit-animation: buttonEffect-left 1s;
    transform: rotate(0);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 20%;
    left:-20%;
    bottom:50%;
    background:#FFF3F3;
}
.helloBtn-effectFinish::before{
    animation: buttonEffect-right 1s;
    -o-animation: buttonEffect-right 1s;
    -moz-animation: buttonEffect-right 1s;
    -webkit-animation: buttonEffect-right 1s;
    transform: rotate(0);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 20%;
    left:100%;
    top:50%;
    background:#FFF3F3;
}


.submit-btn{
    transition: ease 200ms;
}


/* HOVER // DESKTOPS ONLY */

@media only screen and (min-width:1150px){

    .commerce-img:hover{
        transform: translateX(10%);
        z-index: 2;
        animation: slideIn 150s infinite alternate ease-in-out;
        -o-animation:  slideIn 150s infinite alternate ease-in-out;
        -moz-animation:  slideIn 150s infinite alternate ease-in-out;
        -webkit-animation:  slideIn 150s infinite alternate ease-in-out;
    }
    
    .reserveit-img:hover{
        -moz-transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -o-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        transform: translateX(-10%);
        z-index: 2;
        animation: slideOut 150s infinite alternate ease-in-out;
        -o-animation:  slideOut 150s infinite alternate ease-in-out;
        -moz-animation:  slideOut 150s infinite alternate ease-in-out;
        -webkit-animation:  slideOut 150s infinite alternate ease-in-out;
    }
    
    .hello-hover:hover{
        background: transparent;
        color: #F24C62;
    }
    .hello-hover:hover::before{
        content: "";
        width: 99%;
        height: 2px;
        background: #F24C62;
        position: absolute;
        top:100%;
        left: 0;
        animation: buttonDown 500ms;
        -o-animation:  buttonDown 500ms;
        -moz-animation:  buttonDown 500ms;
        -webkit-animation:  buttonDown 500ms;
    }
    .hello-hover:hover::after{
        content: "";
        width: 99%;
        height: 2px;
        background: #F24C62;
        position: absolute;
        bottom:100%;
        left: 0;
        animation: buttonUp 500ms;
        -o-animation:  buttonUp 500ms;
        -moz-animation:  buttonUp 500ms;
        -webkit-animation:  buttonUp 500ms;
    }
    
    .submit-btn:hover{
        transform: translateY(-8%);
        -moz-transform: translateY(-8%);
        -webkit-transform: translateY(-8%);
        -o-transform: translateY(-8%);
        -ms-transform: translateY(-8%);
        opacity: .89;
    }
}

/* ANIMATIONS */

@keyframes slideIn{
    from{
        transform: translateX(0%);
        opacity: .8;
    }
    .19%{
        transform: translateX(9.9%);
        opacity: .99;
    }
    .20%{
        transform: translateX(10%);
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideOut{
    from{
        transform: translateX(0%);
        opacity: .8;
    }
    .19%{
        transform: translateX(-9.9%);
        opacity: .99;
    }
    .20%{
        transform: translateX(-10%);
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}

@keyframes buttonDown{
    from{
        top:0;
    }
    99%{
        top:99%;
    }
    to{
        top:100%;
    }
}

@keyframes buttonUp{
    from{
        bottom:0;
    }
    99%{
        bottom:99%;
    }
    to{
        bottom:100%;
    }
}

@keyframes buttonEffect-left{
    0%{
        transform: rotateZ(0);
        width: 99%;
        left: 0;
        bottom:100%;
    }
    50%{
        transform: rotateZ(45deg);
        width: 20%;
        left: 40%;
        bottom:50%;
        background:#FFF3F3;
    }
    100%{
        transform: rotateZ(0);
        left: -20%;
    }
}

@keyframes buttonEffect-right{
    0%{
        transform: rotateZ(0);
        width: 99%;
        left:0%;
        top:100%;
        background: #F24C62;
    }
    50%{
        transform: rotateZ(-45deg);
        width: 20%;
        left:40%;
        top:50%;
        background:#FFF3F3;
    }
    100%{
        transform: rotateZ(0);
        left: 100%;
    }
}