
@media only screen and (min-width:1150px){
    body{
        padding: 0 5rem;
    }

    /* ABOUT SECTION */

    .about-container{
        margin-top: 13%;
    }

    /* CONTACT SECTION */
    .info{
        justify-content: space-between;
    }
    .personal-info{
        width: 45%;
    }
    .msg-field{
        height: 10rem;
    }
}

@media only screen and (min-width:1440px){
    body{
        font-size: 1.9rem;
    }
    .big-text{
        font-size: 3.6rem;
    }
    .hi{
        font-size: 11.4rem;
    }
    .rectangs{
        top:5%;
        width: 40vw;
    }
    /* ABOUT SECTION */

    .about-container{
        margin-top: 12%;
        width: 53%;
    }

    /* PROJECTS SECTION */

    .viewall{
        font-size: 1.5rem;
    }

    /* CONTACT SECTION */

    .contact-form{
        width: 60%;
    }
}

@media only screen and (min-width:1900px){
    body{
        font-size: 2.3rem;
        padding:0 13rem;
    }
    .hi{
        font-size: 18rem;
    }
    .big-text{
        font-size: 5.5rem;
    }
    .rectangs{
        top:5%;
        width: 35vw;
    }
    .work-container{
        padding: 5% 18%;
    }
    
}