.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
/* MENU */
.menu-container {
  position: relative;
}
.menu {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-bottom: auto;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 2;
}
.menu span {
  position: absolute;
  left: 0;
  display: block;
  height: 1.5px;
  width: 29.5px;
  border-radius: 18px;
  background: #f2e9e4;
  transition: 0.25s ease-in-out;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.menu span:nth-child(1) {
  top: 0;
}

.menu span:nth-child(2),
.menu span:nth-child(3) {
  top: 8px;
}
.menu span:nth-child(4) {
  top: 16px;
}

/* CLOSE ICON */
.close {
  z-index: 4;
}
.close span {
  background: #f2e9e4;
  position: absolute;
  width: 29.5px;
  height: 1.5px;
}
.close span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.close span:nth-child(2) {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close span:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}

/* WHEN MENU IS OPEN */
.nav-links {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 50vw;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  right: 0;
  top: 5%;
  border-left: #f2e9e4 0.7px solid;
  background: #3a3a3a;
  z-index: 2;
  opacity: 0.97;
}

/* Would usually add an icon next to the "Projects" and animate it. 
This is used as a pointer for later use in order to save time */
.project-title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
  background: #f24c62;
  clip-path: polygon(50% 100%, 0 51%, 100% 51%);
  -moz-transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  -o-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
  margin: 0 0.6rem;
}
.projects {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 0.5rem;
  gap: 0.5rem;
  font-weight: lighter;
  opacity: 0.99;
  font-size: 80%;
}
.hide {
  display: none;
}

@media only screen and (min-width: 750px) {
  .nav-links {
    font-size: 1.5rem;
  }
  .project-title::after {
    width: 13px;
    height: 30px;
  }
  .projects {
    font-size: 70%;
    transform: translateX(10%);
  }
}

@media only screen and (min-width: 1500px) {
  .nav-links {
    font-size: 1.7rem;
  }
}
